<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../static/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <div class="search-icon  search-switch">
            <i class="icon_search"></i>
        </div>
        <div class="header-configure-area">
            <a href="#" class="bk-btn">Booking Now</a>
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Главная</a></li>

                <li><a href="./rooms.html">Комнаты</a></li>
                <li><a href="./contact.html">Как нас найти</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="https://www.booking.com/hotel/ru/sky-village.ru.html#tab-main"><i class="fa fa-tripadvisor"></i></a>
        </div>
        <ul class="top-widget">
            <li><i class="fa fa-phone"></i> 89262036791</li>
            <li><i class="fa fa-envelope"></i>alegnin@mail.ru</li>
        </ul>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tn-left">
                            <li><i class="fa fa-phone"></i>89262036791</li>
                            <li><i class="fa fa-envelope"></i>alegnin@mail.ru</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="tn-right">
                            <div class="top-social">
                                <a href="https://www.booking.com/hotel/ru/sky-village.ru.html#tab-main"><i class="fa fa-tripadvisor"></i></a>
                            </div>
                            <a href="#" class="bk-btn">Booking Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="../static/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul>
                                    <li class="active"><a href="./index.html">Главная</a></li>
                                    <li><a href="./rooms.html">Комнаты</a></li>

                                    <li><a href="./contact.html">Как нас найти?</a></li>
                                </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1>Гостевой дом Домодедово</h1>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form">
                        <h3>Забронируйте номер</h3>
                        <form>
                            <div class="check-date">
                                <label for="date-in">Въезд:</label>
                                <input type="text" class="date-input" id="date-in">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Выезд:</label>
                                <input type="text" class="date-input" id="date-out">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="select-option">
                                <label for="guest">Номер:</label>
                                <select id="guest">
                                    <option value="">Одноместный({{ cost_1 }})</option>
                                    <option value="">Двухместный({{ cost_2 }})</option>
                                    <option value="">Трехместный({{ cost_3 }})</option>
                                </select>
                            </div>
                            <div class="select-option">
                                <p>Ваше имя: <input id="name"></p>
                                <p>Телефон:  <input id="tel" type="tel"  placeholder="+7 (900) 123-45-67"></p>
                                <p>Почта:  <input id="mail" type="email"  placeholder="you@mail.ru"></p>

                            </div>
                        </form>
                            <button id="book_room" type="submit">Отправить заявку на бронь</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="../static/img/hero/hero-1.jpg"></div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Us Section Begin -->
    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>Об отеле</span>
                            <h2>Д.Котляково, ул.Полевая 2г</h2>
                        </div>
                        <p class="f-para">Наш отель расположен всего в 7 км от аэропорта.<br \> Цены на одноместные номера от {{ cost_1 }}р/ночь <br \> Трансфер от/до аэропорта: 500р</p>
                        <p class="s-para">Телефон для брони: 89262036791</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">

                                <img src="../static/img/about/about-1.jpg" alt="">
                                <img src="../static/img/about/about-2.jpg" alt="">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->

    <!-- Services Section End -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Услуги</span>
                        <h2>Наши преимущества</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-036-parking"></i>
                        <h4>Все, что нужно путешественнику</h4>
                        <p>Есть хороший Wi-Fi</p>
                        <p>Магазин в пешей доступности</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-033-dinner"></i>
                        <h4>Зона для еды</h4>
                        <p>Чайник, бесплатно чай</p>
                        <p>Холодильник для Ваших продуктов</p>
                        <p>Тостер</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-026-bed"></i>
                        <h4>Кровати</h4>
                        <p>Удобные ортопедические матрасы</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-024-towel"></i>
                        <h4>Санузел</h4>
                        <p>В каждом номере есть туалет, душ и раковина</p>
                        <p>Также Вас ждут чистые полотенца</p>

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-044-clock-1"></i>
                        <h4>Время работы</h4>
                        <p>Мы очень ценим своих клиентов, поэтому организовываем трансфер и заселяем круглосуточно</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-012-cocktail"></i>
                        <h4>Если магазин закрыт</h4>
                        <p>У нас можно купить самые нужные вещи прямо в отеле</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Home Room Section Begin -->
    <section class="hp-room-section">
        <div class="container-fluid">
            <div class="hp-room-items">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="../static/img/room/room-b1.jpg">
                            <div class="hr-text">
                                <h3>Двухместный номер</h3>
                                <h2>{{ cost_2 }}₽<span>/ночь</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Вместимость:</td>
                                            <td>Рассчитан на 2</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Кровати:</td>
                                            <td>Двуспальная</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="./rooms.html" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="../static/img/room/room-b2.jpg">
                            <div class="hr-text">
                                <h3>Одноместный номер</h3>
                                <h2>{{ cost_1 }}₽<span>/ночь</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Вместимость:</td>
                                            <td>Рассчитан на 1</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Кровати:</td>
                                            <td>Односпальная</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="./rooms.html" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="../static/img/room/room-b3.jpg">
                            <div class="hr-text">
                                <h3>Двухместный номер(раздельные)</h3>
                                <h2>{{ cost_2 }}₽<span>/ночь</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Вместимость:</td>
                                            <td>Рассчитан на 2</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Кровати:</td>
                                            <td>2 * Односпальная</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="./rooms.html" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="../static/img/room/room-b4.jpg">
                            <div class="hr-text">
                                <h3>Трехместный номер</h3>
                                <h2>{{ cost_3 }}₽<span>/ночь</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Вместимость:</td>
                                            <td>Рассчитан на 3</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Кровати:</td>
                                            <td>3*Односпальная</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="./rooms.html" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Room Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Отзывы</span>
                        <h2>Что о нас говорят?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonial-slider owl-carousel">

                        <div class="ts-item">
                            <p>➕:Очень хороший гостевой дом!
                                Чисто, уютно, отзывчивый и вежливый персонал и владелец. Санузел в номере,что не маловажно.
                                Вообще теперь при длительных пересадках в Москве буду останавливаться только здесь!
                                Отдельно спасибо Андрею (видимо, владелец) за спасение меня любимой из лесу, куда привезло такси!))<br \><br \>
                                ➖: Не очень удобное расположение. Совет всем:остерегайтесь такси!)))) завезут и бросят не там, где нужно))
                                лучше заказать трансфер в самом гостевом доме и дешевле и удобнее.

                            </p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                <h5> - Ekaterina</h5>
                            </div>
                            <img src="../static/img/testemotional-booking.png" alt="">
                        </div>
                        <div class="ts-item">
                            <p>➕:Отель расположен рядом с аэропортом. В тихом, уютном месте. Пробок до аэропорта не будет ‐10 минут и вы прибыли.
                                Чисто, комфортно. Полетающие самолеты не мешают, их практически не слышно.
                                Не так далеко, в пешей доступности магазин "Пятёрочка". Персонал, они же хозяева вежливые и приятные люди.<br \><br \>
                                ➖: В телквизоре 2 программы было. Из-за холодной погоды не хотелось никуда идти, хоть и время было, а по тв тоько "дисней" и "ю".-небольшой конечно облом, благо есть wi-fi.
                                Ну и трансфер все таки небесплатный, НО он есть и всегда под рукой, не по расписанию, а когда нужно именно вам.
                            </p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5> - Вм*39</h5>
                            </div>
                            <img src="../static/img/testemotional-booking.png" alt="">
                        </div>
                        <div class="ts-item">
                            <p>➕:Всё хорошо, трансфер из аэропорта и обратно, тишина и чистота, чай, вежливые хозяева.
                                Отдельно спасибо Андрею (видимо, владелец) за спасение меня любимой из лесу, куда привезло такси!))<br \><br \>
                            </p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                <h5> - Elena</h5>
                            </div>
                            <img src="../static/img/testemotional-booking.png" alt="">
                        </div>
                        <div class="ts-item">
                            <p>➕: Должна была улетать из Домодедово,отлично место где можно переночевать ,10 мин от аэропорта ,сейчас забронируем еще раз,
                                так как летаем часто по работе ,будем останавливаться только там .Очень чисто . Отдельное спасибо Андрею<br \><br \>
                            </p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                <h5> - Ekaterina</h5>
                            </div>
                            <img src="../static/img/testemotional-booking.png" alt="">
                        </div>
                        <div class="ts-item">
                            <p>➕: Приятный персонал, удобное для транзитных пассажиров расположение гостевого дома, до аэропорта 10-15 мин на такси, весь необходимый минимум
                                для проживания есть, микроволновка и чайник 24/7<br \><br \>
                            </p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5> - Марийка</h5>
                            </div>
                            <img src="../static/img/testemotional-booking.png" alt="">
                        </div>
                        <div class="ts-item">
                            <p>Мы - в топ 3 бюджетных гостевых домов у Домодедово по версии travelmyth.com</p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                <h5> - Администрация отеля</h5>
                            </div>
                            <img src="../static/img/logo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="../static/img/logo.png" alt="">
                                </a>
                            </div>
                            <p>Приземлиться в кровать</p>
                            <div class="fa-social">
                                <a href="https://www.booking.com/hotel/ru/sky-village.ru.html#tab-main"><i class="fa fa-tripadvisor"></i></a>
                                <a href="https://github.com/00-2"><i class="fa fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Contact Us</h6>
                            <ul>
                                <li>89262036791</li>
                                <li>alegnin@mail.ru</li>
                                <li>д.Котляково, ул.Полевая 2г</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </footer>
    <!-- Footer Section End -->


    <!-- Js Plugins -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/jquery.nice-select.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/jquery.slicknav.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script type="text/javascript">
         $(document).ready(function() {
             $('#book_room').click(function () {
                 var date_in = $('#date-in').val();
                 var date_out = $('#date-out').val();
                 var num = $('.current').text();
                 var name = $('#name').val();
                 var tel = $('#tel').val();
                 var mail =  $('#mail').val();
                 if ((tel.length>6) || (mail.length>3)) {
                     $.ajax({
                         type: "POST", // Указываем что будем обращатся к серверу через метод 'POST'
                         url: "/send_order_info",
                         data: JSON.stringify({"date_in": date_in, "date_out": date_out, "num":num, "name":name, "tel":tel, "mail":mail}),
                         contentType: 'application/json;charset=UTF-8',
                         success: function (response) {
                             alert('Заявка по номеру '+ tel + ' подана. Ожидайте звонка');
                             location.reload();
                         }
                     });
                 }
                 else
                 {
                     if  (tel.length<=6) {
                        alert('Не введен номер телефона');
                     }
                     if (mail.length<=3){
                         alert('Не введена почта')
                     }
                 }


             });
         });

    </script>
</body>

</html>

